# =========================
# Java / Maven
# =========================
target/
*.log
*.class

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# =========================
# Spring Boot
# =========================
*.jar
*.war

# =========================
# IDE (IntelliJ)
# =========================
.idea/
*.iml

# =========================
# VSCode (nếu có)
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Env files (IMPORTANT)
# =========================
.env
.env.*
application-local.yml
application-dev.yml

# =========================
# Logs
# =========================
logs/
*.out

# =========================
# Docker (optional)
# =========================
docker-data/

# =========================
# Node (nếu có frontend sau này)
# =========================
node_modules/
dist/